<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    
    <add key="aspnet:MaxHttpCollectionKeys" value="20000" />
    <add key="AttachmentPath" value="~/Attachment/" />
    <add key="encryptLumexDBConString" value="false" />
    <add key="encryptMailSetting" value="false" />
    <add key="ReportPath" value="" />
    <add key="nullDate" value="1900-01-01" />
    <add key="appDateFormat" value="d/M/yyyy" />
    <add key="appDateFormatView" value="dd/MM/yyyy" />
    <add key="appDateTimeFormat" value="" />
    <add key="appDateTimeFormatView" value="" />
    <add key="appTimeFormatOnly" value="" />
    <add key="EnableSsl" value="true" />
    <add key="EmailFrom" value="support@.com" />
    <add key="msHost" value="smtp.zoho.com" />
    <add key="msPort" value="587" />
    <add key="msPass" value="@Kader786" />
    <add key="ip_key" value="" />
  </appSettings>
  <connectionStrings>
    <add name="LumexDBConString" connectionString="Server=192.168.0.250;Database=DiuAcsConDb;Persist Security Info=true;Uid=sa;Password=123456;Max Pool Size=20000;" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>