

#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
    0%   { transform: rotate(0deg);   transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.loader-wrapper {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);

}

.image-upload > input
{
    display: none;
}

.package-list-header {


    text-align: center;
    padding: 10px;
    background: white;
    
    margin: 10px;

}

.iti-flag {background-image: url("flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti-flag {background-image: url("flags@2x.png");}
}



.ml25i {
    margin-left: -25px;
}

.mt25 {
    margin-top: 25px;

}


.content-center {
    width: 75%;
    margin: 0 auto;
}

.payment-details-style {

    font-weight: 400;
    color: #a84d2a;
}

.image-circle-payment {
    border-radius: 50%;
}
.payment-avatar-image {
    margin-top: -11px;
    margin-left: -20px;
}

.payment-user-info {
    margin-left: 15px;
}

.payment-user-name {
    font-weight: bold;
    color: #a84d2a;
    font-size: 20px;
}

.payment-user-details-style {
    font-size: 15px;
}

.payment-amount-style {

  
    font-weight: bold;
    color:#6b6562;
    font-family: "Times New Roman", Times, serif;

}

.row-divider {
    height: 2px;
    background-color: #91b0d6;
}

.receieve-style {
    font-weight: 400;
    color: #a84d2a;
}


.note-style {
    width: 100%;

}

.note-font-style {

    font-size: 20px;
    font-weight: bold;
    color: #a84d2a;
}

.payment-border {
    border: 1px solid #ab8779;
}


#paymentReceiveText::placeholder {
    color:  #adaaa870;
    font-weight: 500;
    font-size: 20px;
    padding-left: 10px;
    opacity: 1; /* Firefox */
}

#paymentReceivePin::placeholder {
    color:  #adaaa870;
    font-weight: bold;
    font-size: 30px;
    padding-left: 10px;
    opacity: 1; /* Firefox */
}

.black {

    color: black;
}

.country-list > li {
    color: black;
} 

.pointer {

    cursor: pointer;
}

input {
    color: black;
}



.contact-user-details-style {
    font-size: 22px;
    font-weight: bold;
    color: #0073b7;
}

.contact-style {
    font-weight: 600;
    color: #69625f;
}


.contact-sub-style {
    font-weight: 600;
    color: #69625f;
}

.contact-sub-div {
        

        font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}
