input.bottom-border {
  outline: 0;
  border-width: 0 0 2px;
    border-color: #73737b40;
}
input.bottom-border:focus {
  border-color: green
}

input.bottom-border::placeholder {
  color: #73737bb0;
    font-weight: 500;
    font-family: sans-serif;
}


.flip_H{ transform: scale(-1, 1); }


input.cinput {
    
    width: 100%;
    font-size: 17px;
    font-weight: 300;
}



.modal-contact {
        padding-left: 20px;
    padding-right: 50px;
        margin-bottom: 40px;
    margin-top: 10px;
}

.first-row {
    margin-top: 15px;
    margin-left: 25px;
}

.fa-env-cs {
    font-size: 25px;
    margin-left: 7px;
    margin-top: 12px;
    color: #0000007a;
}

.fa-city-cs {
    font-size: 22px;
    margin-left: 5px;
    margin-top: 15px;
    color: #0000007a;
}

.fa-phone-cs {
        font-size: 20px;
    margin-left: 25px;
    margin-top: 15px;
    color: #0000007a;
}

.fas-time-circle-cs {
    font-size: 20px;
    margin-left: -10px;
    margin-top: 10px;
    color: #a7a0a0;
}

.fas-time-circle-cs:hover {
     color: #d85454a3;
}

.fas-plus-circle-cs {
    font-size: 20px;
    color: #3c8dbc;
    margin-left: 10px;
    margin-top: 10px;

}
.fa-user-circle-cs {
    font-size: 50px;
    color: #0000007a;
}
.no-padding {
    padding: 0px;
}

.note-row {
        padding-left: 15px;
    padding-right: 13px;
    margin-top: -15px;
}